.footer {
    footer {
        background-color: #22b9c2;
        background-image: url("https://i.imgur.com/z80Z1MB.png");

        .content {
            margin-top: 60px;
        }

        p {
            text-align: center;
            font-size: 0.8rem;
            color: #1D7A80;
        }
    }
}