.notebook {
    margin-top: 150px;
    .desc {
        padding: 15px;
        p {
            font-size: 16px;
            color: #727272;
        }
        b {
            color: #079299;
            font-weight: 900;
        }
    }
}